<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mission to mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data . {{text}} is a variable-->
      <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">scrape new data!</a></p>
    </div>


    <!-- News Section -->
    <div class="container">
      <h3>Latest Mars News</h3>
      <h4>{{mars_data.title}}</h4>
      <p>{{mars_data.paragraph}}</p>
    </div>

      <p> Click <a href="bonus">here</a> to scrape new data</p>
      <h2>{{ text }}</h2>
      
    </div>



  </div>
</body>

</html>